* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* App.css */

body {
    background: firebrick;
}

.content {
    position: relative;
    z-index: 1; /* Ensure the content is above the video */
    color: white; /* Adjust text color to ensure visibility */
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background to improve text readability */
    border-radius: 10px; /* Optional: Add rounded corners */
    max-width: 600px; /* Optional: Limit the width of the content */
    margin: 50px auto; /* Center the content */
}

p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

